.account {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.account h2 {
  width: 100%;
  text-align: center;
  color: azure;
}

.account button {
  margin: 10px 0;
}
