:host {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-items: center;
}

.col2 button, .col2 mat-form-field {
  width: 100%;
}

.col2 mat-icon {
  /* vertical-align: -6px; */
  margin-right: 10px;
}

.col2 img {
  max-height: 350px;
  border-radius: 100%;
}

.file-input{
  display: none;
}
